{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Les P'tits Pousses !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue chez Les P'tits Pousses !</h1>

    <p>Les P'tits Pousses est une crèche pour les enfants de 3 à 36 mois :</p>
    <p>Crèche avec un grand espace de jeux et d'éveil qui encourage la curiosité des enfants dans un univers sécurisé et bienveillant.</p>
    <a href="{{ path('app_login') }}">connectez-vous !</a>
</div>
{% endblock %}
